//-----=GLOBALS=-----//
html, body {
    width: 100vw;
    height: 100vh;
}

div.columns {
    padding: 0;
}

header {
    height: 10vh;
    text-align: center;
}

main {
    height: 90vh;
    padding-top: 5vh;

    div {
        margin: 10vh 0;

        a.active {
            background-color: $white;
        }
    }

    div.button-container {
        text-align: center;

        button.button {
            width: 50%;
        }
    }
}
