//-----=GLOBALS=-----//

div.columns {
    padding: 0;
}

header {
    text-align: center;
}

main {
    div.switch {
        width: 100vw;

        label.switch-paddle {
            width: 100vw;
        }
    }
}
