//-----=GLOBALS=-----//
html, body {
    width: 100vw;
    height: 100vh;
}

div.columns {
    padding: 0;
}

header {
    height: 10vh;
    text-align: center;
}

main {
    height: 90vh;

    div.expanded {
        margin: 25% 0;
    }
}
